@mixin flex-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
}

@mixin sizes($width,$height,$gap){
        width: $width;
        height: $height;
        gap: $gap;
}

@mixin button($button-bottom,$button-right){
        button-bottom: $button-bottom;
        button-right: $button-right;
}
