//HEADER Y BODY//
.logo {
    width: 150px;
}

nav {
    width: 100%;
} 
.navbar-toggler{
    background-color: rgb(223, 222, 222);
}

.navbar {
    top: 0;
    min-height: 50px;
    z-index: 1000;
    position: relative;
    top: 0;

}




.nav-link {
    color: white;

    &:hover {
        color: white;
    }
}

