//FOOTER//
.footer {
    background-color: black;
    color: white;
    height: 10vh;
    align-items: center; // This property is for flex containers, not for the .footer element alone
    justify-content: center; // This property is for flex containers, not for the .footer element alone
    margin-top: 100px;
}

#footer--redes {
    @include flex-center;
    background-color: black;
    list-style: none;
}
.footer-items {
    @include flex-center;
    background-color: black;
    list-style: none;
    margin: 4%;
    padding: 2% 2% 2% 2%;
    @include flex-center;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-around;
    color: white;
}  

#copyright {
    padding: 5% 0% 0% 0%;
    color: white;
    background-color: black;
    text-align: center;
    @include flex-center;
}

ul {
    list-style: none;
    padding-left: 1px;
}